[submodule "Hog-Core/vendor/glfw"]
	path = Hog-Core/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Hog-Core/vendor/spdlog"]
	path = Hog-Core/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hog-Core/vendor/glm"]
	path = Hog-Core/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Hog-Core/vendor/imgui"]
	path = Hog-Core/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Hog-Core/vendor/yaml-cpp"]
	path = Hog-Core/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Hog-Core/vendor/optick"]
	path = Hog-Core/vendor/optick
	url = git@github.com:dnikolaidis2/optick.git
[submodule "Hog-Core/vendor/spirv-reflect"]
	path = Hog-Core/vendor/spirv-reflect
	url = git@github.com:dnikolaidis2/SPIRV-Reflect.git
