# Binaries
**/bin/
bin-int/

# Hog files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.sln.**
**.opt

# Directories
Hog-Core/vendor/VulkanSDK
Sandbox/assets/cache
scripts/__pycache__

**/.idea/**
Thesis/