# Binaries
**/bin/
bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.sln.**
**.opt

# Directories
Vulkan-Core/vendor/VulkanSDK
Vulkan-Sandbox/assets/cache
scripts/__pycache__

**/.idea/**