[submodule "Vulkan-Core/vendor/glfw"]
	path = Vulkan-Core/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Vulkan-Core/vendor/spdlog"]
	path = Vulkan-Core/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vulkan-Core/vendor/glm"]
	path = Vulkan-Core/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Vulkan-Core/vendor/imgui"]
	path = Vulkan-Core/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Vulkan-Core/vendor/tracy"]
	path = Vulkan-Core/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
