[submodule "Hog-Core/vendor/glfw"]
	path = Hog-Core/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Hog-Core/vendor/spdlog"]
	path = Hog-Core/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hog-Core/vendor/glm"]
	path = Hog-Core/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Hog-Core/vendor/imgui"]
	path = Hog-Core/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Hog-Core/vendor/yaml-cpp"]
	path = Hog-Core/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Hog-Core/vendor/optick"]
	path = Hog-Core/vendor/optick
	url = https://github.com/dnikolaidis2/optick.git
[submodule "Hog-Core/vendor/spirv-reflect"]
	path = Hog-Core/vendor/spirv-reflect
	url = https://github.com/dnikolaidis2/SPIRV-Reflect.git
[submodule "Hog-Core/vendor/boost/container_hash"]
	path = Hog-Core/vendor/boost/container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "Hog-Core/vendor/boost/type_traits"]
	path = Hog-Core/vendor/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "Hog-Core/vendor/boost/config"]
	path = Hog-Core/vendor/boost/config
	url = https://github.com/boostorg/config.git
[submodule "Hog-Core/vendor/boost/describe"]
	path = Hog-Core/vendor/boost/describe
	url = https://github.com/boostorg/describe.git
[submodule "Hog-Core/vendor/boost/mp11"]
	path = Hog-Core/vendor/boost/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "Hog-Core/vendor/boost/static_assert"]
	path = Hog-Core/vendor/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
